:root {
    --active-color: #E52D27;
    --padding: 80px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postContainer {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: var(--active-color);
}

.guides {
    position: absolute;
    height: 100vh;
    width: calc(500px - var(--padding));
    border-right: 2px solid lightskyblue;
    border-left: 2px solid lightskyblue;
}

.guides::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: calc(500px - var(--padding));
    left: calc((var(--padding)/2 + 50vw - 250px) * -1);
    top: calc((var(--padding)/2 + 50vh - 250px));
    border-top: 2px solid lightskyblue;
    border-bottom: 2px solid lightskyblue;
}

.userInfo {
    position: absolute;
    bottom: calc(var(--padding)/2);
    left: calc(var(--padding)/2);
    width: 50px;
    height: 50px;
    background: 
        white 
        center 10px 
        / 
        contain 
        url('../assets/userImage.png') 
        no-repeat;
    border-radius: 100%;
}

.rightArrow {
    position: absolute;
    bottom: calc(var(--padding)/2);
    right: calc(var(--padding)/2);
    width: 50px;
    height: 20px;
    background: 
        center center 
        / 
        contain 
        url('../assets/rightArrow.png') 
        no-repeat;
}